.swiper.slider-1
	.swiper-wrapper
		.swiper-slide 1
		.swiper-slide 2
		.swiper-slide 3
		.swiper-slide 4
.bg(data-bg='1') 11
.bg(data-bg='1') 22
.bg(data-bg='1') 33

button.start-slider(data-slider) Start
